<% if @articles.any? %>
  <% @articles.each do |article| %>
    <div class="col-md-6">
      <h2><%= link_to "#{article.title}", "/article/#{article.id}" %></h2>
      <h3><%= article.description %></h3>
      <p><%= article.act_text %></p>
    </div>
  <% end %>
<% else%>
  <%= 'There are no articles to show' %>
<% end %>
