<nav class="navbar navbar-light" style="background-color:#393E41; margin-bottom:0px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-family: 'Exo 2', sans-serif; color:white; font-size:35px; margin-top:10px;">TomPage</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://twitter.com/88pwt"><img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.pngall.com%2Fwp-content%2Fuploads%2F2016%2F07%2FTwitter-PNG-HD-1.png&f=1" style="width:40px;height:40px;margin:0px;"></a></li>
      <li><a href="https://github.com/twp88"><img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fmajor.io%2Fwp-content%2Fuploads%2F2014%2F08%2Fgithub.png&f=1" style="width:40px;height:40px;margin:0px;"></a></li>
      <li><a href="https://medium.com/@88pwt"><img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.underconsideration.com%2Fbrandnew%2Farchives%2Fmedium_2017_monogram.png&f=1" style="width:40px;height:40px;margin:0px;"></a></li>
    </ul>
 </div>
</nav>
