<nav class="navbar navbar-light" style="background-color:#393E41; margin-bottom:0px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-family: 'Exo 2', sans-serif; color:white; font-size:35px;">TomPage</a>
 </div>
</nav>
